{{> modules/before }}

{{> modules/navbar }}

<div class="container">

    <div class="row">

        {{#each teaser}}
            {{> modules/teaser }}
        {{/each}}

    </div>

    {{> modules/footer }}

</div>

{{> modules/after }}